<a href="https://colab.research.google.com/github/noviardhana/hw_rakamin/blob/main/HW_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

## Jawaban soal no.1

Menentukan jumlah plat genap dan ganjil

In [2]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

In [3]:
# Function to deffinition odd and event plat
def check(x):
    x = int(x.split()[1]) # Get numerical values from 'number plate'
    result = 'genap' if x % 2 == 0 else 'ganjil'
    return result;

In [4]:
# Initiation values
even = 0
odd = 0

# Itteration
for x in list_plat_mobil:
    plat = x
    if check(x) == 'genap': # Conditional statments counting odd and even plate
        even += 1
    else:
        odd += 1
  # print(f'plat {plat} adalah {cek(x)}')

print(f'Jumlah plat Ganjil adalah {odd} dan Genap adalah {even}')

Jumlah plat Ganjil adalah 7 dan Genap adalah 2

## Jawaban soal no.2

Deret Fibbonanci

In [5]:
# Function fibbonanci from (2, 3)
def fibonacci(n):
    sequence = [2, 3] # Initial values
    while len(sequence) < n:
        next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
        sequence.append(next_value)
    return sequence;

In [6]:
print("12 angka pertama dalam deret Fibonacci:")
print(fibonacci(12))

12 angka pertama dalam deret Fibonacci:
[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Jawaban soal no.3

Team Campaign PT ABC membuat promo *bundling category product*

In [12]:
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7' , 'c8', 'c9', 'c10']

In [13]:
# Empty list
combination = []

# Function to calculate combination from 10 parameter
def comb(L, count=0):
    for i in list_id_category:
        for j in list_id_category:
            for k in list_id_category:
              list_loop = sorted([i, j, k])    
              if list_loop not in combination and i != j != k:  
              # Check if parameter in the indexesare not same 
                 combination.append(list_loop)
                 count += 1 # Count combination of parameter
    return print(f'terdapat {count} jumlah kemungkinan kombinasi');

In [14]:
comb(list_id_category)

terdapat 210 jumlah kemungkinan kombinasi

## Jawaban soal no.4

function *string_processor*

In [15]:
def string_processor(x, process = 'num_vowels'):
    process = process.lower()
    x = x.lower()
    if process == 'first_char':
      hasil = x[0]
    elif process == 'last_char':
      hasil = x[-1]
    elif process == 'num_chars':
      hasil = len(x)
    elif process == 'num_vowels':
      hasil = num_vowels(x)
    return hasil;

def num_vowels(x):
  count = 0
  vowels = ["a", "e", "i", "o", "u"]
  for i in range(len(x)):
    if x[i] in vowels:
        count += 1
  return count;

In [16]:
string_processor('The Quick Brown Fox Jumps Over The Lazy Dog')

11

## Jawaban soal no.5

user yang menggunakan email gmail pada tahun 2018

In [20]:
df = pd.read_csv('/content/drive/MyDrive/0. Rakamin/rakamin_store_city_monthly.csv', delimiter = ';')
df.head()

,month,user_id,username,email,kota,total_visit,total_order,total_amount
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620