In [ ]:
import numpy as np
import pandas as pd

## Jawaban soal no.1

Menentukan jumlah plat genap dan ganjil

In [ ]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

In [ ]:
# Function to deffinition odd and event plat
def check(x):
    x = int(x.split()[1]) # Get numerical values from 'number plate'
    result = 'genap' if x % 2 == 0 else 'ganjil'
    return result;

In [ ]:
# Initiation values
even = 0
odd = 0

# Itteration
for x in list_plat_mobil:
    plat = x
    if check(x) == 'genap': # Conditional statments counting odd and even plate
        even += 1
    else:
        odd += 1
  # print(f'plat {plat} adalah {cek(x)}')

print(f'Jumlah plat Ganjil adalah {odd} dan Genap adalah {even}')

Jumlah plat Ganjil adalah 7 dan Genap adalah 2

## Jawaban soal no.2

Deret Fibbonanci

In [ ]:
# Function fibbonanci from (2, 3)
def fibonacci(n):
    sequence = [2, 3] # Initial values
    while len(sequence) < n:
        next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
        sequence.append(next_value)
    return sequence;

In [ ]:
print("12 angka pertama dalam deret Fibonacci:")
print(fibonacci(12))

12 angka pertama dalam deret Fibonacci:
[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Jawaban soal no.3

Team Campaign PT ABC membuat promo *bundling category product*

In [ ]:
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7' , 'c8', 'c9', 'c10']

In [ ]:
# Empty list
combination = []

# Function to calculate combination from 10 parameter
def comb(L, count=0):
    for i in list_id_category:
        for j in list_id_category:
            for k in list_id_category:
              list_loop = sorted([i, j, k])    
              if list_loop not in combination and i != j != k:  
              # Check if parameter in the indexesare not same 
                 combination.append(list_loop)
                 count += 1 # Count combination of parameter
    return print(f'terdapat {count} jumlah kemungkinan kombinasi');

In [ ]:
comb(list_id_category)

terdapat 210 jumlah kemungkinan kombinasi

## Jawaban soal no.4

function *string_processor*

In [ ]:
# Function string processor
def string_processor(x, process = 'Num_vowels'):
    process = process.lower()
    x = x.lower()
    if process == 'first_char':
      hasil = x[0]
    elif process == 'last_char':
      hasil = x[-1]
    elif process == 'num_chars':
      hasil = len(x)
    elif process == 'num_vowels':
      hasil = num_vowels(x)
    return hasil;

# Devine vowel
def num_vowels(x):
  count = 0
  vowels = ["a", "e", "i", "o", "u"]
  for i in range(len(x)):
    if x[i] in vowels:
        count += 1
  return count;

In [ ]:
string_processor('The Quick Brown Fox Jumps Over The Lazy Dog')

11

## Jawaban soal no.5

user yang menggunakan email gmail pada tahun 2018

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/0. Rakamin/rakamin_store_city_monthly.csv', delimiter = ';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         126 non-null    object
 1   user_id       126 non-null    int64
 2   username      126 non-null    object
 3   email         126 non-null    object
 4   kota          126 non-null    object
 5   total_visit   126 non-null    int64
 6   total_order   126 non-null    int64
 7   total_amount  126 non-null    int64
dtypes: int64(4), object(4)
memory usage: 8.0+ KB

In [ ]:
# Create new coloumn 'is_gmail' and 'year'

df['is_gmail'] = df['email'].apply(lambda x: True if (x.split('@')[1]).split('.')[0] == 'gmail' else False)
df['year'] = df['month'].apply(lambda x: x[:4])

In [ ]:
# Calculate gmail user in 2018

tmp = df[df.year == '2018'].groupby(df.is_gmail)['user_id'].nunique().reset_index()
tmp

   is_gmail  user_id
0     False       14
1      True        3

In [ ]:
print(f"Jumlah user yang menggunakan email gmail pada tahun 2018 adalah {tmp.loc[1,'user_id']}")

Jumlah user yang menggunakan email gmail pada tahun 2018 adalah 3

## Jawaban soal no.6

function menghitung Jumlah Sales dan Profit

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/0. Rakamin/superstore.xls')

In [ ]:
df['Year'] = df['Order Date'].apply(lambda x: x.year) # Create cloumn Year

df.groupby([df.Year, df.Region]).agg({'Sales' : 'sum','Profit' : 'sum'}).reset_index() # Aggregation Year and Region

    Year   Region        Sales      Profit
0   2014  Central  103838.1646    539.5534
1   2014     East  128680.4570  17059.6095
2   2014    South  103845.8435  11879.1200
3   2014     West  147883.0330  20065.6912
4   2015  Central  102874.2220  11716.8020
5   2015     East  156332.0570  21091.0130
6   2015    South   71359.9805   8318.5940
7   2015     West  139966.2495  20492.1947
8   2016  Central  147429.3760  19899.1629
9   2016     East  180685.8220  20141.5961
10  2016    South   93610.2235  17702.8084
11  2016     West  187480.1765  24051.6069
12  2017  Central  147098.1282   7550.8442
13  2017     East  213082.9040  33230.5614
14  2017    South  122905.8575   8848.9079
15  2017     West  250128.3655  43808.9561

In [ ]:
# Create function to calculate sales and profit

def func(x, y = 2017):
  df_n = df.groupby([df.Year == y, df.Region == x]).agg({'Sales' : 'sum','Profit' : 'sum'}).reset_index()

  sales = df_n.loc[3]['Sales']
  profit = df_n.loc[3]['Profit']

  return print(f"Pada {y} di {x} region, sales {sales} dan profit {profit}")

In [ ]:
a = input('Region : ')
region = str(a)
b = input('Tahun : ')
tahun = int(b)

region = region.capitalize()

try:
  if (tahun == None):
    func(region)
  else:
    func(region,tahun)
except:
  print('region or year erorr')

Region : east
Tahun : 2015
Pada 2015 di East region, sales 156332.057 dan profit 21091.012999999995

## Jawaban soal no.7

Kelompok 'segment' (high, medium, dan low) berdasarkan performance Sales

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/0. Rakamin/superstore.xls')

df['Year'] = df['Order Date'].apply(lambda x: x.year) # Create column Year

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Year           9994 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(13)
memory usage: 1.7+ MB

In [ ]:
df_n = df.groupby(['Year', 'Customer ID', 'Customer Name', 'Segment']).agg({'Sales' : ['sum'], 'Profit' : ['sum']}).reset_index()

df_n.columns = ['Year', 'Customer ID', 'Customer Name', 'Segment', 'Sales Total', 'Profit Total']

# Segmentation user by percentile Sales Total, low < 50%, med < 75%, else high

df_n['User_segment'] = df_n['Sales Total'].apply(lambda x: 'Low' if x < df_n['Sales Total'].quantile(.5) else 'Med' if x < df_n['Sales Total'].quantile(.75) else 'High')

print(f"user dibagi berdasarkan persentil, low dibawah 50% yaitu {round(df_n['Sales Total'].quantile(.5), 3)}, med dibawah 75% yaitu {round(df_n['Sales Total'].quantile(.75), 3)}")

user dibagi berdasarkan persentil, low dibawah 50% yaitu 472.044, med dibawah 75% yaitu 1171.928

In [ ]:
df_n[df_n.Year == 2017]['User_segment'].value_counts().reset_index()

  index  User_segment
0   Low           292
1  High           201
2   Med           200

## Jawaban soal no.8

Membuat module bebas