In [1]:
import pandas as pd

# A. Introduction to Pandas DataFrame and Transformation (45pts)

## Beginner

### 1. Membuat DataFrame Manual (5pts)

Buatlah dataframe secara manual seperti gambar dibawah ini.

**Expected Result:**

![Expected Result](assets/homework_exercise_1_result.png)

In [2]:
## Your code below here

### 2. Analisa Sederhana DataFrame (10pts)

Lakukan import `application_processed.csv` data kedalam notebook (5pts) dan carilah beberapa informasi pada dataset `application_processed` (5pts) dan jawablah beberapa pertanyaan sebagai berikut:

a. Column apa saja yang memiliki nilai NaN / None?
b. Berapa rata-rata pada column `amount_income_total`?
c. Berapa median pada column `amount_income_total`?

**Hint**:
- Menggunakan operasi dasar DataFrame pada topik Introduction Pandas DataFrame and Transformation

In [3]:
## Your code below here

## Intermediate

### 3. Mengolah Dataset (30pts)

Dengan menggunakan dataset `application_processed.csv` buatlah dataframe baru dengan ketentuan:
1. Ambil semua users yang memiliki `email`. (ditandai dengan nilai pada column `flag_email` = 1) dan tidak memilik data `duplicates`. (5pts)
2. Buatlah column baru bernama `has_car_and_property` dimana nilainya merupakan range dari `0-1`. `1` apabila `flag_own_car` bernilai `1` dan `flag_own_property` bernilai `1`. `0` apabila terdapat atau semua nilai pada column `flag_own_car` dan `flag_own_property` terdapat angka 0. (5pts)
3. Ambil column yang diperlukan yaitu `id`, `gender`, `has_car_and_property`, `income_type`, `education_type`, `family_status`, `housing_type`, `occupation_type`, `amount_income_total`. (5pts)
4. Lakukan filter dengan ketentuan sebagai berikut: (5pts)
    - Memiliki `car` dan `property`
    - Tidak ada nilai null pada column `occupation_type`
    - Memiliki value pada column `occupation_type` dengan pola `staff`.
5. Sudah dilakukan sorting berdasarkan `income_type` dari `A-Z` dan `amount_income_total` dari `besar ke kecil`. (5pts)
6. Simpan kedalam bentuk `.csv` dengan nama `homework_3_result.csv`. (5pts)

**Expected Result:**

![Expected Result](assets/homework_exercise_3_result.png)

In [4]:
## Your code below here

# B.DataFrame Aggregation (25pts)

## Intermediate

### 4. Group By and Aggregate (10pts)

Dengan menggunakan data `titanic.csv`, buatlah dataframe untuk melihat informasi `max` dan `min` pada column `Age` dan juga informasi `mean` dan `median` pada column `Fare` pada masing-masing PassengerClass atau `Pclass`.

**Expected Result:**

![Expected Result](assets/homework_exercise_4_result.png)

In [5]:
## Your code below here

### 5. Memanfaatkan Pivot Tabel (15pts)

Buatlah dataframe baru menggunakan fungsi pivot table untuk melihat `Embarked` apa saja yang `average_female_ticket_price` lebih besar daripada `average_male_ticket_price`. Informasi `average_female_ticket_price` dan `average_male_ticket_price` didapatkan dari rata-rata pada column `Fare`.

**Hint:**
1. menggunakan pivot table
2. dapat dilihat pada topik `DataFrame Aggregation` bagian `Pivot Table | Reshape Columns and Rows`

**Expected Result:**

![Expected Result](assets/homework_exercise_5_result.png)

In [6]:
## Your code below here

# C. DataFrame Combination (30pts)

## 6. Melakukan Append pada DataFrame (5pts)

Buatlah DataFrame seperti pada soal `no.1`. Kemudian tambahkan data tersebut dengan data users yang baru seperti gambar dibawah berikut.

**New Users Data:**

![Expected Result](assets/homework_exercise_6_new.png)

**Expected Result:**

![Expected Result](assets/homework_exercise_6_result.png)

In [7]:
## Your code below here

### 7. Merge DataFrame (25pts)

Buatlah 2 dataframe mengikuti petunjuk berikut:

df_1 :  Filter dataset 01 telecom_revenue.csv dengan multiple kondisi (5pts)
- MonthlyRevenue > 10 
- Occupation terdiri dari Professional, Student, and Crafts

df_2 :  Filter dataset 02 telecom_usage.csv dengan multiple kondisi (5pt)
- nilai UnansweredCalls > BlockedCalls

Jawablah pertanyaan berikut ini:
1. Hitunglah total CustomerID dan rata-rata DroppedCalls untuk masing-masing occupation. (10 Points)
2. Pada occupation apa, rata-rata DroppedCalls paling besar? (5 Points)

**Expected Result:**

![Expected Result](assets/homework_exercise_7_result.png)

In [8]:
## Your code below here